// Placeholder to allow overriding predefined variables smoothly.
body{
    background:url(http://pngimg.com/uploads/infinity_symbol/infinity_symblo_PNG48.png);
    background-size:200px;
    background-repeat:no-repeat;
    background-attachment:scroll;
    background-position:500px 150px;
}
